<%= link_to "Add a Pet",  new_owner_pet_path(@owner.id), class: "btn btn-primary pull-right" %>
<% if (@pets.size > 0) %>
<h1>All Pets for <%= @owner.email %></h1>
<hr>
<ul>
  <% @pets.each do |pet| %>
    <li><%= link_to pet.name, pet_path(pet)%></li>
  <% end %>
</ul>
<hr>
<% else %>
  <h1><%= @owner.email %> doesn't have any pets!</h1>
  <%= link_to "Back to Owners", owners_path %>
<% end %>
